*.DS_Store
products/pickle_files/Adaboost.pkl
products/pickle_files/Bagging.pkl
products/pickle_files/CatBoost.pkl
products/pickle_files/GBM.pkl
products/pickle_files/GNB.pkl
products/pickle_files/LR.pkl
products/pickle_files/RF.pkl
products/pickle_files/Tree.pkl
products/pickle_files/XGB.pkl
products/pickle_files/GNB_deploy.pkl
products/pickle_files/Tree_deploy.pkl
products/pickle_files/GNB_deploy.pkl
products/pickle_files/XGB_deploy.pkl
data/clean/*.csv
products/plots/*.png
products/plots/*.jpeg
products/plots/*.html

venv/*
app/products/pickle_files/*.pkl
app/products/json_files/*.json