<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>First Innings Score Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='ipl-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class='heading_first'>Ball Outcome Predictor for</span><span class="heading_second">Indian Premier League (IPL)</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Prediction Area -->
        <div class="prediction-area">

            <!-- IPL Banner - 1 -->
            <div class='ipl-banner-left'>

                <div class="slider-frame">
                    <div class="slide-images-up">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='mi.jpg') }}" alt="Mumbai Indians">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='srh.png') }}" alt="Sunrisers Hyderabad">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='rcb.png') }}" alt="Royal Challengers Bangalore">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='dc.png') }}" alt="Delhi Capitals">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='rr.png') }}" alt="Rajasthan Royals">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='kkr.jpg') }}" alt="Kolkata Knight Riders">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='kxip.png') }}" alt="Kings XI Punjab">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='csk.png') }}" alt="Chennai Super Kings">
                        </div>

                    </div>
                </div>

            </div>

            <!-- Prediction Form -->
            <div class='div2'>
                <form action="{{ url_for('predict') }}" method="POST">
                    <input class="form-input" type="text" name="Overs" placeholder="Float Type: Over #.Ball #"><br>
                    <input class="form-input" type="text" name="Wickets Fallen" placeholder="Int Type: Wickets Fallen till Specified Overs"><br>
                    <input class="form-input" type="text" name="Runs Scored" placeholder="Int Type: Runs Scored till Specified Overs"><br>
                    <!-- Match Type Dropdown -->
                    <select class="form-input align-center" name="match-type">
                        <option value="none">--- Select Match Type ---</option>
                        <option value="playoffs">Playoffs</option>
                        <option value="round-robin">Round-Robin</option>
                    </select><br>
                    <!-- Venue Dropdown -->
                    <select class="form-input align-center" name="match-type">
                        <option value="none">--- Select Match Venue ---</option>
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Cuttack">Cuttack</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Dharamsala">Dharamsala</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Indore">Indore</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Mohali">Mohali</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Nagpur">Nagpur</option>
                        <option value="Pune">Pune</option>
                        <option value="Raipur">Raipur</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Ranchi">Ranchi</option>
                        <option value="Visakhapatnam">Visakhapatnam</option>
                    </select><br>
                    <input class="form-input" type="text" name="Inning" placeholder="Int Type: Inning 1 or 2"><br>
                    <!-- Batting Team Dropdown -->
                    <select class="form-input align-center" name="batting-team">
                        <option value="none">--- Select a Batting team ---</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Delhi Capitals">Delhi Capitals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    </select><br>
                    <!-- Bowling Team Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select a Bowling team ---</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Delhi Capitals">Delhi Capitals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    </select><br>
                    <!-- Batsman Type Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select Batsman on Strike ---</option>
                        <option value="Top">Top-Order</option>
                        <option value="Middle">Middle-Order</option>
                        <option value="Tail">Tail-Ender</option>
                    </select><br>
                    <!-- Non-Striker Type Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select Non-Striker Batsman ---</option>
                        <option value="Top">Top-Order</option>
                        <option value="Middle">Middle-Order</option>
                        <option value="Tail">Tail-Ender</option>
                    </select><br>
                    <!-- Bowler Type Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select Bowler Type ---</option>
                        <option value="Pacer">Pacer</option>
                        <option value="Spinner">Spinner</option>
                    </select><br>
                    <!--Ball Length Dropdown -->
                    <select class="form-input align-center" name="bowling-team">
                        <option value="none">--- Select Ball Length ---</option>
                        <option value="Random">Random</option>
                        <option value="Full">Full</option>
                        <option value="Full-Toss">Full-Tos</option>
                        <option value="Good">Good</option>
                        <option value="Short">Short</option>
                        <option value="Yorker">Yorker</option>
                    </select><br>


			<input type="submit" class="myButton" value="Predict Ball Outcome!">
        	</form>
            </div>

            <!-- IPL Banner - 2 -->
            <div class='ipl-banner-right'>

                <div class="slider-frame">
                    <div class="slide-images-down">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='mi.jpg') }}" alt="Mumbai Indians">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='srh.png') }}" alt="Sunrisers Hyderabad">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='rcb.png') }}" alt="Royal Challengers Bangalore">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='dc.png') }}" alt="Delhi Capitals">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='kkr.jpg') }}" alt="Kolkata Knight Riders">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='rr.png') }}" alt="Rajasthan Royals">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='kxip.png') }}" alt="Kings XI Punjab">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='csk.png') }}" alt="Chennai Super Kings">
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/TegveerG/IPL-Project"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/tegveerg"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
       </div>

    </body>
</html>
